.card{
    border-radius: 14px;
    box-shadow: 0px 5px 12px 0px rgba(73, 73, 73, 0.253);
    border: 0px!important;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    width: 80%;
 }
 .fon{
     font-size: 13px!important;
 }
 .card:hover{
     transition: all 0.2s ease-in-out;
     transform: scale(1.100);
     box-shadow: 0px 5px 13px 1px rgba(37, 37, 37, 0.397);

 }
 .card-header{
     position:relative;
 }
.hvr{
    background:rgba(0, 0, 0, 0.788)!important;
    border-radius: 8px;

    width:100%;
    height:100%;
   position: absolute;
   top: 260px;
   transition:all 0.5s ease-in-out;
    display:flex;
   
}
.card:hover .hvr{
    background:rgba(0, 0, 0, 0.788)!important;
    border-radius: 8px;

    width:100%;
    height:100%;
   position: absolute;
   transition:all 0.5s ease-in-out;
   top: 0;
    display:flex;
   
}
.card-header {
    border-radius:14px;
}
.card img{
    width: 100%!important;
    height:210px!important;
}
.profile{
 width:50px;
 height:50px;
}
.profile img{
    width: 100%!important;
    height: 100%!important;
    border-radius: 8px!important;
}

.card img{
    width: 100%!important;
    height: 100%!important;
    border-radius: 8px!important;
}
.brd{
    
    border: 1px solid rgba(128, 128, 128, 0.192);
    cursor: pointer;
    font-size: 13px!important;
}
.box1{
    
    border-bottom-left-radius: 14px;
    transition:0.2s ease-in-out;
    border-left: 0px!important;
    border-bottom: 0px!important;
}

.box1:hover{
    color:white!important;
    background-color:rgb(5, 48, 44);
    border-bottom-left-radius: 14px;
    transition:0.2s ease-in-out;
}

.box2{
    
    transition:0.2s ease-in-out;
    border-radius: 0px!important;
     border-bottom: 0px!important;
}

.box2:hover{
    color:hsl(0, 0%, 100%)!important;
    background-color:rgb(5, 19, 48);
    border-bottom-left-radius: 14px;
    transition:0.2s ease-in-out;
}
 .brd:hover small{
     color: white!important;
 }

.box3{
    
    transition:0.2s ease-in-out;
    border-bottom-right-radius: 14px;
    border-left: 0px!important;
    border-right: 0px!important;
    border-bottom: 0px!important;
}

.box3:hover{
    border-bottom-left-radius: 0px!important;
    color:white!important;
    background-color:rgb(34, 5, 48);
    border-bottom-left-radius: 14px;
    transition:0.2s ease-in-out;
}
.ibt:hover .icn{
    text-shadow: 2px 2px 8px #1100ff;
    transform: scale(1.3);
}